<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

  <connectionStrings>
    <add name="Main" connectionString="server=jom.asia;uid=developer;pwd=j0mdevelop3r;port=3306;database=hot_deals;" />
  </connectionStrings>
  <appSettings>
    <add key="DBType" value="MySql" />
    <add key="ErrorPath" value="c:\error\jom\web_file_server\" />
    <add key="IsDebug" value="1" />
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>

</configuration>
